# Fajlovi koje ne treba push-ovati na GitHub
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Database
data/session.json
data/mup_data.db

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
